.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    /* Atur lebar maksimum yang Anda inginkan */
}

.truncate-text1 {
    width: 200px;
    text-overflow: ellipsis;
    max-width: 250px;
    /* Atur lebar maksimum yang Anda inginkan */
}

.bi {
    font-weight: bold;
    font-size: 22px;
}

.filte{
    margin-top:9px;
    margin-left:27px;
}

.filter{
    margin-top:100px; 
    margin-left:27px;
}

.filter1{
    margin-top:100px; 
    margin-left:40px;
}

.filter2{
    margin-top: -45px;
    margin-left: -30px;
}

.wow{
    width: auto;
}
  
.dropdown-menu.dropdown-menu-right .dropdown-item:hover,
.dropdown-menu.dropdown-menu-right .dropdown-item:active {
    background-color: #3B4B65; /* Ganti warna latar belakang saat hover atau saat tombol dalam keadaan aktif menjadi warna biru */
    color: white; /* Ganti warna teks saat hover atau saat tombol dalam keadaan aktif menjadi putih */
}



.btn-primary:hover {
    background-color: white;
    color: #3B4B65; /* Anda juga mungkin perlu mengatur warna teks saat hover sesuai kebutuhan Anda */
  }

.custom-button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.custom-button:hover {
    transform: scale(1.3);
    transition: transform 0.2s; /* Menambahkan transisi agar efek menjadi mulus */
}

.resizable {
    resize: both !important; /* Memungkinkan pengguna untuk menarik textarea */
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 280px !important; /* Tinggi minimum awal textarea */
    text-align: justify;
  }

  .resizablealamat {
    resize: both !important; /* Memungkinkan pengguna untuk menarik textarea */
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 85px !important;
    text-align: justify;
  }

  .resizablestatus {
    resize: both !important; /* Memungkinkan pengguna untuk menarik textarea */
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 200px !important; /* Tinggi minimum awal textarea */
    color: black !important;
    font-weight: bold !important;
    text-align: justify;
  }

  .kolom{
    background-color:#D9D9D9 !important;
}

    .pesan2 {
        overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
        min-height: 180px !important; /* Tinggi minimum awal textarea */
        background-color: whitesmoke !important;
        color: #333333 !important;
        font-weight: normal;
        font-style: italic;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease !important;
        border: 1px solid #CCCCCC !important;
  }

  .pesan {
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 360px !important; /* Tinggi minimum awal textarea */
    background-color: whitesmoke !important;
    color: #333333 !important;
    font-weight: normal;
    font-style: italic;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #CCCCCC !important;
  }

  .balasan {
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 360px !important; /* Tinggi minimum awal textarea */
    background-color: white !important;
    color:#444444 !important;
    font-weight: bold ;
    text-align: justify;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #E1E1E1 !important;
  }

  .sudahadabalasan {
    overflow: auto !important; /* Menampilkan scroll jika konten melebihi ukuran textarea */
    min-height: 360px !important; /* Tinggi minimum awal textarea */
    background-color: white !important;
    color:#444444 !important;
    font-weight: bold ;
    text-align: justify;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #E1E1E1 !important;
  }

  .pesan:hover, .balasan:hover, .sudahadabalasan:hover {
    background-color: #D9D9D9 !important;
}

.balasan:focus {
    background-color: white !important;
}

.pesan:focus, .sudahadabalasan:focus {
    background-color: #D9D9D9 !important;
}
  

  #gambar {
    background-color: #000000; /* Warna latar belakang */
    color: #FFF; /* Warna teks */
    padding: 10px; /* Padding untuk elemen */
    border: 1px solid #cccccc; /* Border untuk elemen */
    border-radius: 5px; /* Border-radius untuk sudut elemen */
}

.whitebold{
    color: white; 
    font-weight:bold;
}

.tabel-aktif {
    background-color: rgba(59, 75, 101, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white !important;
}


.tabel-mati {
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(94, 94, 94, 1);
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-menu a {
    border-bottom: 1px solid #3B4B65; /* Garis bawah untuk setiap item */
    padding: 5px 10px; /* Jarak di atas dan bawah serta kiri dan kanan item */
    display: block; /* Membuat item menjadi elemen blok untuk mengisi lebar container */
}

.dropdown-menu a:last-child {
    border-bottom: none; /* Menghapus garis bawah dari item terakhir */
}

.input {
    width: 50%; /* Ganti dengan lebar yang sesuai */
  }

  .password-input-wrapper {
    display: flex;
    align-items: center;
    margin-top:-10px;
    margin-bottom:-10px;
  }
  
  .password-input-wrapper .form-control {
    flex-grow: 1;
    max-width: 50%;
    margin-right: 10px; /* Untuk memberikan jarak antara input dan tombol */
  }
  
  .password-input-wrapper .edit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #03A13B;
        height: 35px;
        width:50px;
        padding: 0; /* Menghapus padding default tombol */
      
  }
  
.alert-container {
    display: flex;
    width:100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #EB1F3E; /* Warna merah */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container12 {
    display: flex;
    width:100%;
    align-items: center;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container1 {
    display: flex;
    width:100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #03A13B; /* Warna merah */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container2 {
    display: flex;
    width:50%;
    align-items: center;
    padding: 10px 20px;
    background-color: #03A13B; /* Warna merah */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-icon {
    font-size: 24px;
    margin-right: 10px;
}

.pagination1, .pagination2 {
    margin-top: 20px;
}

.waduh tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* CSS untuk mengatur warna latar belakang baris genap */
.waduh tr:nth-child(even) {
    background-color: #ffffff;
}

/* Atur lebar kolom dengan class */
table {
    width: 100%; /* Lebar tabel 100% dari container */
    border-collapse: collapse; /* Menggabungkan batas sel */
}

th, td {
    padding: 8px; /* Padding untuk sel */
    text-align: center; /* Teks rata kiri */
    border-bottom: 1px solid #ddd; /* Garis bawah untuk setiap baris */
}

/* Lebar kolom sesuai kebutuhan Anda */
/* Misalnya, dua kolom dengan lebar tetap */
/* Tambahkan CSS untuk kolom nomor */
th:nth-child(1),
td:nth-child(1) {
    width: 25px; /* Lebar kolom nomor */
    text-align: center; /* Teks rata tengah */
    font-size: 12px; /* Ukuran teks lebih kecil */
    padding: 4px; /* Padding yang lebih kecil */
}

/* Contoh CSS untuk kolom lainnya (kolom data) */
th:nth-child(2),
td:nth-child(2) {
    width: 200px; /* Lebar kolom data lainnya */
    /* Gaya lain sesuai kebutuhan Anda */
}

.waw{
    margin-left: 30px;
    width: 100%;
}

#tabelpendonor,
#tabeluser {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    display:none;
    text-align:center;
}

/* Style for table cells */
table th,
table td {
    padding: 5px; /* Adjust cell padding as needed */
}

/* Style for table header */
.thead th {
    height: 40px; /* Adjust header height as needed */
    background-color:#3B4B65; color:white;
}

/* Style for table rows */
.waduh td {
    height: 30px; /* Adjust row height as needed */
}

.dropdownstyle {
    background-color: #d9d9d9; 
    color:black;
    border-radius:15px 0 0 0;
}

.ikontoggle{
    font-size:15px;
    background-color: #3B4B65;
    border-radius:0 0 15px 0;
}

.sizeicon{
    font-size: 3rem;
}


.jaraksidebar{
    font-weight:bold; 
    border-top:2px solid white; 
    margin-top:2px;
    margin-bottom:-9px
}

/* Gambar di dalam sidebar */
.gambar {
    width: 260px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px; 
}

.gambar1 {
    width: 260px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
}

.dropdown-menu .dropdown-item {
    border-bottom: 1px solid black;
  }
  .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
  }

.dropdown-menu {
    min-width: 100%;
    /* Sesuaikan lebar dengan kebutuhan Anda */
}

.dropdown-item {
    width: 100%;
    /* Sesuaikan lebar dengan kebutuhan Anda */
    
    /* Pusatkan teks pada dropdown item */
}


.filter-icon{
    border-radius:0 15px 15px 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
        background-color: #3B4B65;
    }

.insert-icon{
    border-radius:0 0 15px 0;
    width: 22px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
     background-color: #3B4B65;
}

.search-icon{
    height:42px;
    background-color: #d9d9d9; 
    color:black;
    border-radius:15px 0 0 0;
}

.submenu {
    display: none;
}

.sidebar-wrapper::-webkit-scrollbar {
    width: 0; /* Lebar scrollbar horizontal */
  }
  
  .sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: white; /* Warna tombol scrollbar */
    border-radius: 4px; /* Sudut tombol scrollbar */
  }
  
  .sidebar-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Warna track scrollbar */
  }
  

.berita-title{
    display: block;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    font-style: italic;
}

.rating-title{
    display: block;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    color:black;
}

.profile-title{
    display: block;
    font-size:20px;
    font-weight:bold;
    text-align: center;
}

.image-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.truncate-text-report{
    max-width: 300px;
}

.breadcrumb-container{
    display:flex;
    justify-content: flex-end;
    margin-top:40px;
    margin-right:20px;
    margin-bottom: -10px;
}

.breadcrumb {
    background-color: white;
    /* Ganti warna latar belakang sesuai keinginan Anda */
}



.breadcrumb-item a {
    color: #3B4B65;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
    transform: scale(1.1); /* Mengubah ukuran tautan saat dihover */
  }

.font-star{
    color:#F29F05;font-size: 50px;
}

.judulpesan{
    color: black;
    font-weight:bold;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.judulbalasan{
    color: black;
    font-weight:bold;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

