body {
    font-family: 'Poppins', sans-serif;
}

.thead-style{
    background-color:#3B4B65; 
    color:white;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.truncate-text1 {
    width: 200px;
    text-overflow: ellipsis;
    max-width: 250px;
}

.dropdown-menu.dropdown-menu-right .dropdown-item:hover,
.dropdown-menu.dropdown-menu-right .dropdown-item:active {
    background-color: #3B4B65;
    color: white;
}

.bi, .fa {
    font-weight: bold;
    font-size: 22px;
}


.filte {
    margin-top: 9px;
    margin-left: 27px;
}

.filter {
    margin-top: 100px;
    margin-left: 27px;
}

.filter {
    margin-top: 100px;
    margin-left: 27px;
}

.filterfeedback {
    margin-top: 90px;
    margin-left: 27px;
}

.filter1 {
    margin-top: 100px;
    margin-left: 40px;
}

.filter2 {
    margin-top: -45px;
    margin-left: -30px;
}

.wow {
    width: auto;
}


.btn-primary:hover {
    background-color: white;
    color: #3B4B65;
}

.custom-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.ukuran-checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.custom-button:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
}

.resizable {
    resize: both !important;
    overflow: auto !important;
    min-height: 280px !important;
    text-align: justify;
}

.resizablealamat {
    resize: both !important;
    overflow: auto !important;
    min-height: 85px !important;
    text-align: justify;
}

.resizablestatus {
    resize: both !important;
    overflow: auto !important;
    min-height: 200px !important;
    color: black !important;
    text-align: justify;
}

.kolom {
    font-family: 'Poppins', sans-serif !important;
    background-color: #D9D9D9 !important;
}

.kolom:focus {
    border: 1px solid #3B4B65;
    background-color: white !important;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

.pesan2 {
    font-family: 'Poppins', sans-serif;
    overflow: auto !important;
    min-height: 180px !important;
    background-color: whitesmoke !important;
    color: #333333 !important;
    font-weight: normal;
    font-style: italic;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #CCCCCC !important;
}

.pesan {
    font-family: 'Poppins', sans-serif;
    overflow: auto !important;
    min-height: 360px !important;
    background-color: whitesmoke !important;
    color: #333333 !important;
    font-weight: normal;
    font-style: italic;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #CCCCCC !important;
}

.balasan {
    font-family: 'Poppins', sans-serif;
    overflow: auto !important;
    min-height: 360px !important;
    background-color: white !important;
    color: #444444 !important;
    font-weight: bold !important;
    text-align: justify;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #E1E1E1 !important;
}

.sudahadabalasan {
    font-family: 'Poppins', sans-serif;
    overflow: auto !important;
    min-height: 360px !important;
    background-color: white !important;
    color: #444444 !important;
    font-weight: bold !important;
    text-align: justify;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease !important;
    border: 1px solid #E1E1E1 !important;
}

.pesan:hover,
.balasan:hover,
.sudahadabalasan:hover {
    background-color: #D9D9D9 !important;
}

.balasan:focus {
    background-color: white !important;
}

.pesan:focus,
.sudahadabalasan:focus {
    background-color: #D9D9D9 !important;
}


#gambar {
    background-color: #000000;
    color: #FFF;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: absolute;
}

.whitebold {
    color: white;
    font-weight: bold;
}

.tabel-aktif {
    background-color: rgba(59, 75, 101, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white !important;
}

.tabel-mati {
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(94, 94, 94, 1);
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabel-mati:hover {
    background-color: #3B4B65;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.tabel-aktif:hover {
    background-color: #3B4B65;
    color: white;
}

.input {
    width: 50%;
}

.input:focus {
    background-color: white !important;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.password-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.password-input-wrapper .form-control {
    flex-grow: 1;
    max-width: 50%;
    margin-right: 10px;
}

.password-input-wrapper .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #03A13B;
    height: 35px;
    width: 50px;
    padding: 0;

}

.alert-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #EB1F3E;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container12 {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container1 {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #03A13B;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-container2 {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 10px 20px;
    background-color: #03A13B;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.alert-icon {
    font-size: 24px;
    margin-right: 10px;
}

.pagination1,
.pagination2 {
    display: none;
    margin-top: 20px;
}

.waduh tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.waduh tr:nth-child(even) {
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th:nth-child(1),
td:nth-child(1) {
    width: 25px;
    text-align: center;
    font-size: 12px;
    padding: 4px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 200px;
}

.waw {
    margin-left: 30px;
    width: 100%;
}

#tabelpendonor,
#tabeluser {
    width: 100%;
    margin: 0 auto;
    display: none;
    text-align: center;
}

table th,
table td {
    padding: 5px;
}

.thead th {
    height: 40px;
    background-color: #3B4B65;
    color: white;
}

.waduh td {
    height: 30px;
}

.dropdownstyle {
    background-color: #d9d9d9;
    color: black;
    border-radius: 15px 0 0 0;
}

.ikontoggle {
    font-size: 15px;
    background-color: #3B4B65;
    border-radius: 0 0 15px 0;
}

.sizeicon {
    font-size: 3rem;
}


.jaraksidebar {
    font-weight: bold;
    border-top: 2px solid white;
    margin-top: 2px;
    margin-bottom: -9px
}

.gambar {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}


.dropdown-toggle, .dropdown-item{
    font-family: 'Poppins', sans-serif;
}

.dropdown-toggle{
    height:42px;
    background-color: #3B4B65; 
    color:white;
    border-radius:0 0 15px 0;  
    width: 200px; 
}

.dropdown-menu .dropdown-item {
    border-bottom: 1px solid black;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-menu {
    min-width: 100%;
    background-color: #d9d9d9; 
    color:black;
    border-radius:0 0 0 0;
    padding:0;
}

.dropdown-item {
    width: 100%;
    font-weight:bold;
}

.submenu {
    display: none;
}

.sidebar-wrapper::-webkit-scrollbar {
    width: 0;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.berita-title {
    display: block;
    font-size: 20px;
    text-align: center;
    color:navy;
}

.rating-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.profile-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.image-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.truncate-text-report {
    max-width: 300px;
}

.breadcrumb-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: -10px;
}


.breadcrumb {
    background-color: white;
}



.breadcrumb-item a {
    color: #3B4B65;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.font-star {
    color: #F29F05;
    font-size: 50px;
}

.judulpesan {
    color: black;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.judulbalasan {
    color: black;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.tomboltampilkan {
    display: none;
    justify-content: flex-end;
}

/* .gaya-tampilkan{
    background-color:#03A13B;
    border-radius:15px; 
} */

.filtering {
    display: none;
}

.inidia {
    background-color: #3B4B65 !important;
    color: white !important;
}

#select option[value=""][selected] {
    display: none;
}

.invalid-feedback {
    font-size: 12px;
}

.search-filter-group {
    display: flex;
    margin-left: 20px;
}

.inserticon-style{
    border-radius:15px 0 0 15px;
    width: 22px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #3B4B65;
    font-family: 'Poppins', sans-serif;
}

.insertbar-style{
    background-color: #d9d9d9; 
    color:black;
    border-radius:0 0 0 0;
}

.ambilicon-style{
    border-radius:15px 0 0 15px;
    width: 22px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #3B4B65;
}

.ambilbar-style{
    background-color: #d9d9d9; 
    color:black;
}

.searchbar-style {
    font-family: 'Poppins', sans-serif;
    height: 42px;
    background-color: #d9d9d9;
    color: black;
    border-radius: 15px 0 0 0;
}

.searchicon-style {
    font-family: 'Poppins', sans-serif;
    border-radius: 0 0 15px 0;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4B65;
}

.filter-icon {
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4B65;
}

.filter-icon, .insertbar-style, .ambilbar-style{
    font-family: 'Poppins', sans-serif;
}

.modalbuttonsuccess-style{
    background-color: #03A13B; 
}

.modalbuttondanger-style{
    background-color: #E70000; 
}

.modalbuttonclose-style{
    background-color: black;
}

.modalbuttonlaporanpalsu{
    background-color: #3B4B65;
}

.modalbuttonsuccess-style,
.modalbuttondanger-style,
.modalbuttonclose-style,
.modalbuttonlaporanpalsu {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px
}

.select2-container--bootstrap .select2-selection--single {
    background-color: #d9d9d9;
}

.select2-container--bootstrap .select2-selection--single:focus {
    background-color: white ;
}

 .sidebar.active {
    width: 0; /* Lebar sidebar saat ditutup */
 }

 .main-panel {
    transition: margin-left .5s; /* Animasi perubahan margin utama saat sidebar ditutup/buka */
 }

 .main-panel.active {
    margin-left: 0; /* Margin utama saat sidebar ditutup */
 }

