html,
body{
    height:100%;
    background-color:#3B4B65 !important;
    font-family: Poppins;
}

.global-container{
    height: 100%;
    align-items: center;
    justify-content: center;
    display:flex
}

.login-form{
    width : 30%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: white !important;
    border-radius: 15px !important;
}

.form-control{
    background-color: #D9D9D9;

    margin-bottom: 20px;
}


.title{
    display: flex;
    padding-top:13px;
    color:#EB1F3E;
    font-weight: bold;
    font-size: 20px;
}

.slogan{
    display: flex;
    color:black !important;
    font-size: 14px;
    font-weight: bold;
}

.btn{
    background-color: #EB1F3E;
    color: white;
}

.line{
    font-weight: bold;
    border-top: 2px solid black;
    margin-top: 10px;
}

.logopmi{
    margin-top: 10px;
}


.iconjudul{
    width:60px; 
    height:60px; 
    margin-right:10px; 
    float:left;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.alert-container1 {
    display: flex;
    width:100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.alert-icon {
    font-size: 24px;
    margin-right: 10px;
}

.lupapassword-title{
  text-align:center; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 768px) {
    .login-form {
      width: 70%;
      padding: 10px;
    }
  
    .title {
      font-size: 14px;
    }
  
    .slogan {
      font-size: 10px;
    }
  
    .logopmi {
      margin-top: 5px;
    }
  
    .iconjudul {
      margin-right: 5px;
    }
  
    .btn {
      padding: 5px 10px;
    }
  
    .alert-container1 {
      padding: 5px 10px;
    }
  
    .alert-icon {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .login-form {
      width: 50%; 
      padding: 10px; 
    }
  
    .title {
      font-size: 18px; 
    }
  
    .slogan {
      font-size: 10px; 
    }
  
    .logopmi {
      margin-top: 5px; 
    }
  
    .iconjudul {
      margin-right: 5px; 
    }
  
    .btn {
      padding: 5px 10px; 
    }
  
    .alert-container1 {
      padding: 5px 10px; 
    }
  
    .alert-icon {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    
  
    .title {
      font-size: 15px; 
    }
  
    .slogan {
      font-size: 10px; 
    }
  
    .logopmi {
      margin-top: 5px; 
    }
  
    .iconjudul {
      margin-right: 5px; 
    }
  
    .btn {
      padding: 5px 10px; 
    }
  
    .alert-container1 {
      padding: 5px 10px; 
    }
  
    .alert-icon {
      font-size: 20px;
    }
  }
  